# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
*.log

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# STS / Eclipse
/.classpath
/.project
/.settings/

# OS files
.DS_Store
Thumbs.db