.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: #dee2e6;
    border-bottom: 1px solid #adb5bd;
}

.title {
    margin: 0;
    cursor: pointer;
}

.navGroup {
    display: flex;
    gap: 10px;
}