.switcher {
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ccc;
}

.switcher.active {
    background-color: #2f5bcf;
    justify-content: flex-end;
}

.switcher.round {
    border-radius: 20px;
}

.switcher.square {
    border-radius: 4px;
}

.switcher.large {
    width: 60px;
    height: 30px;
}

.switcher.small {
    width: 40px;
    height: 20px;
}

.trigger {
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.switcher.large .trigger {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.switcher.small .trigger {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}